dash_core_components==1.15.0
dash_html_components==1.1.2
geopandas==0.9.0
matplotlib==3.4.1
numpy==1.20.2
pandas==1.2.3
plotly==4.14.3
pytest==6.2.2
scikit_learn==0.24.1
sentinelhub==3.2.1
Shapely==1.7.1
skimage==0.0
xarray==0.17.0
dash
